{% extends "base.html" %}
{% load tailwind_filters %}
{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <h1>Login</h1>
        {{ form|crispy }}
        <button
            class="inline-block shrink-0 rounded-md border border-blue-600 bg-blue-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-transparent hover:text-blue-600 focus:outline-none focus:ring active:text-blue-500"
            type="submit"
        >
            Login
      </button>
    </form>
{% endblock content %}


